---
layout: page
title: Books Wishlist
---

<p>Books that I would like to read.</p>

<ul class="books">
  {% for book in site.data.books reversed %}
    {% unless book.image_url contains "nophoto" %}
      {% if book.owned == "0" %}
        <li>
          <a href="http://www.bookdepository.com/search?searchTerm={{ book.title }}&search=Find+book" target="_blank"><img src="{{ book.image_url }}" alt="{{ book.title }}"></a>
          <a href="http://www.bookdepository.com/search?searchTerm={{ book.title }}&search=Find+book" target="_blank"><h6>{{ book.title | truncate: 70 }}</h6></a>
          <small>{{ book.author }}</small>
        </li>
      {% endif %}
    {% endunless %}
  {% endfor %}
</ul>
