<!DOCTYPE html>
<html class="full-height" lang="en">

    {% include head.html %}

    <body class="homepage">
        <div class="cv">
            <img src="http://www.gravatar.com/avatar/474540ad8a09ad0a9a5deae11e7e2be3.jpg?s=200" alt="">
            <h1>Vestimir Markov</h1>

            <p>Backend web developer with more than 10 years of expertise. </p>
            <p>Brief history: I <a href="https://www.youtube.com/watch?v=v6qMD1lIWT0">served in the army</a>, recored <a href="http://music.letthemdie.net">an album</a>, bankrupt a company, worked in a <a href="http://fidor.de/">bank</a>. </p>
            <p>Current status: <a href="http://raketadesign.com/">Studio Raketa</a></p>

            <p>
                <ul>
                    <li><a href="mailto: me@vestimir.com">me@vestimir.com</a></li>
                    <li><a href="http://twitter.com/vestimir">@vestimir</a></li>
                    <li><a href="http://github.com/vestimir">github</a></li>
                    <li><a href="https://bg.linkedin.com/in/vestimir">linkedin</a></li>
                </ul>
            </p>
        </div>
    </body>
</html>

